
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <form id="frm">
        <div class="col-lg-6 col-lg-offset-3">
            usuario
            <input type="text" name="user" value="" />
            password
            <input type="password" name="password" value="" />
            <input type="submit" name="" class="btn btn-success" value="Entrar" />
        </div>
    </form>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

        $('#frm').submit(function (e) {
            e.preventDefault();
            console.log('submit')

            url = '@Url.Content("~/Access/Enter")'
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {
                if (data == "1") {
                    document.location.href = '@Url.Content("~/")';
                } else {
                    alert(data);
                }
            })
        });
    });
    </script>
}

